<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Cadastrar Perfil</title>
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/css/Contact-Form-Clean.css" th:href="@{/css/Contact-Form-Clean.css}">
    <link rel="stylesheet" href="../static/css/Custom-File-Upload.css" th:href="@{/css/Custom-File-Upload.css}">
    <link rel="stylesheet" href="../static/css/Team-Boxed.css" th:href="@{/css/Team-Boxed.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css" th:href="@{/fonts/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css" th:href="@{/css/Navigation-with-Button.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body>
<div class="row">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">EPIC TASK</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Pendentes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/concluidas">Concluidas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Cadastrar Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Rankings</a></li>
                </ul>
                <h4 class="text-success" style="margin-right: 15px;">502pts</h4><span class="navbar-text actions"> <a
                    class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button"
                                                        href="#">Sign Up</a></span>
            </div>
        </div>
</div>


<!-- Start: Team Boxed -->
<section class="team-boxed">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">CADASTRAR UM LIDER</h2><!-- Start: Contact Form Clean -->
            <section class="contact-clean">
                <form action="/perfil/cadastrarPerfil" method="POST" modelAttribute="usuario" th:object="${usuario}" enctype="multipart/form-data">
                    <h2 class="text-center">EPIC TASK&nbsp;</h2><!-- Start: Success Example -->

                    <div class="form-group">
                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name" th:field="*{perfil.name}" required></div>
                        <span class="form-text text-danger" th:if="${#fields.hasErrors('perfil.name')}" th:errors="*{perfil.name}"></span>
                        <!-- End: Success Example -->
                        <!-- Start: Error Example -->
                        <div class="mb-3"><input class="form-control" type="email" name="email"
                                                 placeholder="Email" th:field="*{email}"><!-- Start: The Error Message -->
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            <!-- End: The Error Message -->
                        </div><!-- End: Error Example -->
                        <div class="mb-3">
                            <!-- Start: Error Example -->
                            <div class="mb-3"><input class="form-control" type="password" name="password"
                                                     placeholder="Senha" required th:field="*{password}"><!-- Start: The Error Message -->
                                <span class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                                <!-- End: The Error Message -->
                            </div><!-- End: Error Example -->
                            <!-- Start: Custom File Upload -->
                            <div style="width: 200px;">
                                <input class="form-control custom-file-input" type="file"
                                       id="user_group_logo" accept="image/jpg"
                                       name="photo"
                                       style="width: 280px;margin: 4px;height: 38px;">
                                <div class="text-center">
                                    <label class="form-label" id="user_group_label"
                                           for="user_group_logo"><i class="fas fa-upload"></i>&nbsp;Choose
                                        an image...</label></div>
                                <div class="text-center mt-2"></div>
                            </div>
                            <button class="btn btn-primary" type="submit">CADASTRAR</button>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                </form>
            </section><!-- End: Contact Form Clean -->
        </div><!-- End: Intro -->
        <!-- Start: People -->
        <div class="row people">
            <div class="col-md-6 col-lg-4 item" th:each=" perfil : ${perfis}">
                <div class="box">
                    <img class="rounded-circle" th:src="@{/img/{linkImage}(linkImage=${perfil.getKey()})}"  width="160" height="160" alt="foto perfil" th:if="${perfil.getValue().getData() != null}"/>
                    <img class="rounded-circle" th:src="@{/show/perfil.jpg}"  width="160" height="160" alt="foto perfil" th:if="${perfil.getValue().getData() == null}"/>
                    <h3 class="name" th:text="${perfil.getValue().getName()}">Ben Johnson</h3>
                    <p class="title" th:text="${perfil.getValue().getScore()} + PTS">150pts</p>
                </div>
            </div>
        </div><!-- End: People -->
    </div>
</section><!-- End: Team Boxed -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:href="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/js/Custom-File-Upload.js" th:href="@{/js/Custom-File-Upload.js}"></script>
</body>

</html>