<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>

<body>
<title>Criar tarefa</title>
<div class="row">
    <div class="col">
        <h1 class="display-6 text-uppercase text-center" style="margin-top: 10px;"><br>Criar nova tarefa<br><br></h1>
        <div class="container">
            <div class="row d-flex d-xxl-flex justify-content-around justify-content-xxl-center">
                <div class="col-md-6 text-center d-grid" style="box-shadow: 0px 0px 5px;margin: 10px;">
                    <div class="row">
                        <div class="col">
                            <h1></h1>
                        </div>
                    </div>
                    <span style="color: red; font-weight: bolder" th:text="${errors}"></span>
                    <form th:action="@{/}" method="POST" th:object="${tarefa}">
                        <input type="text" name="title" id="title" placeholder="Digite um titulo *" required=""
                               style="width: 100%;margin-top: 15px;" th:field="*{title}">
                        <span th:errorclass="error" th:errors="*{title}"></span>
                        <textarea class="form-control-lg"
                                  id="description"
                                  style="width: 100%;margin-top: 20px;"
                                  name="description"
                                  placeholder="Digite uma descrição" th:field="*{description}"></textarea>
                        <br>
                        <span th:errorclass="error" th:errors="*{description}"></span>
                        <input class="form-range" type="range" name="score" min="50" max="200" step="50"
                               style="filter: contrast(93%) hue-rotate(317deg) saturate(49%);" id="score" oninput="document.querySelector('#out-points').value=this.value">
                        <output class="text-center" id="out-points"></output>
                        <br>
                        <button class="btn btn-success" data-bss-hover-animate="pulse" type="submit"
                                style="margin: 5px;margin-bottom: 20px;">SALVAR
                        </button>
                        <a class="btn btn-light" data-bss-hover-animate="pulse" type="button"
                           style="margin: 5px;margin-bottom: 20px;" href="/">CANCELAR</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/js/bs-init.js" th:src="@{/js/bs-init.js}"></script>
</body>

</html>